
{% extends 'layout.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <section>
        <h1>About Us</h1>
        <p>Welcome to our blog website. Here's a little bit about us...</p>
        <!-- Add more about your site or organization here -->
        <p>We started our journey in 2020 with the mission to provide informative and engaging content on various topics of interest.</p>

        <h2>Our Mission</h2>
        <p>At MyBlog, we are dedicated to providing insightful articles, sharing personal experiences, promoting awareness about certain topics, etc.</p>

        <h2>What We Offer</h2>
        <p>Our blog covers a wide range of topics, including technology, travel, food, fashion, lifestyle etc. We strive to deliver high-quality content that is both informative and entertaining to our readers.</p>


        <h2>Contact Us</h2>
        <p>If you have any questions, suggestions, or feedback, please feel free to reach out to us. We value your input and are always eager to hear from our readers. You can contact us supportblog@gmail.com.</p>

        <h2>Stay Connected</h2>
        <p>Follow us on social media to stay updated with the latest blog posts, news, and events. You can find us on Facebook , Linkdin ,Twitter.</p>
    </section>
{% endblock %}
